<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lidwin.prioritize">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon2"
        android:label="ZEN"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity android:name=".timeActivity" />
        <activity android:name=".priorityActivity" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver  android:name=".Mote"></receiver>

        <receiver  android:name=".Mote1"></receiver>

    </application>

</manifest>
